
body{
  background: hsla(50, 68%, 93%, 1);
  
  background: linear-gradient(90deg, hsla(50, 68%, 93%, 1) 0%, hsla(18, 98%, 62%, 1) 0%, hsla(345, 100%, 68%, 1) 47%, hsla(288, 55%, 55%, 1) 98%);
  
  background: -moz-linear-gradient(90deg, hsla(50, 68%, 93%, 1) 0%, hsla(18, 98%, 62%, 1) 0%, hsla(345, 100%, 68%, 1) 47%, hsla(288, 55%, 55%, 1) 98%);
  
  background: -webkit-linear-gradient(90deg, hsla(50, 68%, 93%, 1) 0%, hsla(18, 98%, 62%, 1) 0%, hsla(345, 100%, 68%, 1) 47%, hsla(288, 55%, 55%, 1) 98%);
  
  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#F9F5E0", endColorstr="#FD783F", GradientType=1 );
 }
  
.white-space{
    background-color: white;
    height: 100px;
}
aside {
  display: block;
}

h1 {
  font-family:'Modak', cursive;
}
h3 {
  font-family: 'Modak', cursive;
}
h4 {
  font-family: 'Modak', cursive;
  font-style: italic;
}

/* navbar code */

#myInput {
    background-position: 10px 12px; /* Position the search icon */
    background-repeat: no-repeat; /* Do not repeat the icon image */
    width: 100%; /* Full-width */
  }
  
  #navone{
    width:100%;
    /* height:10vh; edit this to change wave length */
    background-size: cover;
  }
  #navone:after {
    content: "";
    clear: both;
    display: table;
}
/* search bar padding */
  nav{
    width: 100%;
    height: 70px;
    padding-top: 1px;
    line-height: 50px;
  }
  /* end of search bar padding */
  nav ul{
    float: right;
    margin-right: 30px;
  }
  nav ul li{
    list-style-type: none;
    display: inline-block;
    transition: 0.7s all;
    color: #fff;
  }
  nav ul li:hover{
    background-color:hsla(18, 98%, 62%, 1);
  }
  nav ul li a{
    text-decoration: none;
    color: #fff;
    padding: 30px;
  }
  .dropdown-menu {
    color: #fff;
    background-color: hsla(18, 98%, 62%, 1);
  }
  .dropdown-item {
    color: #fff;
  }

.nav-bg {
  padding-bottom: px;
}

  /* end of navbar */

/* banner */

.banner{
  padding-top: 100px;
  padding-left: 15%;
}

#b-h1{
  font-size: 125px;
}

#and-more{
  font-size: 100px;
}

/* cards */
#rcorners1 {
  border-radius: 25px;
  background: #ff518b;
  padding: 20px;
  width: 325px;
  height: 325px;
}

.btn-center{
  margin-left: 23px;
}

a:link {
  text-decoration: none;
}

.card-pic{
  margin-left: 30px;
}






  /* GRID STYLING */

* {
    box-sizing: border-box;
  }
  
  body {
    min-height: 100vh;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: flex-start;
  }


    /* elena messing with buttons */


    .btn:hover .hover {
      display: inline;
    }

    div.arrow {
      width: 6vmin;
      height: 6vmin;
      box-sizing: border-box;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: rotate(-45deg);
    }
      &::before {
        content: '';
        width: 100%;
        height: 100%;
        border-width: .8vmin .8vmin 0 0;
        border-style: solid;
        border-color: #fafafa;
        transition: .2s ease;
        display: block;
        transform-origin: 100% 0;
      }
    
      
      &:after {
        content: '';
        float: left;
        position: relative;
        top: -100%;
        width: 100%;
        height: 100%;
        border-width: 0 .8vmin 0 0;
        border-style: solid;
        border-color: #fafafa;
        transform-origin: 100% 0;
        transition:.2s ease;
      }
      
      &:hover::after {
        transform: rotate(45deg);
        border-color: rgb(0, 255, 170);
        height: 120%;
      }
      &:hover::before {
        border-color: orange;
        transform: scale(.8);
        
      }
      


    /* grid cards */

    .grid { 
      display: grid;
      padding-left: 20%;
      padding-right: 20%;
      grid-template-columns: repeat(auto-fill, minmax(175px, 1fr));
      grid-gap: 150px;
      align-items:flex-start;
      padding-bottom: 100px; 
      }
    .grid > article {
      border: 1px solid  rgba(0,0,0,0.3);
      box-shadow: 2px 2px 6px 0px  rgba(0,0,0,0.3);
      background-color: #fff;
    }
    .grid > article img {
      max-width: 100%;
    }
    .text {
      padding: 0 20px 20px;
    }
    .text > button {
      background: rgb(255, 107, 70);
      border: 0;
      color: rgb(206, 70, 70);
      padding: 15px;
      width: 80%;
      font-family: 'Modak', cursive;
      font-size: larger;
      }

  


.plscenter {
  width: 100%;
}



@media screen and (min-width: 500px) {
  li{
      font-size: 20px;

    }
}

/* about us page animations */
.letter-image {
  padding-left: 50%;
  padding-top: 80%;
  top: 0%;
  left: 0%;
  width: 0px;
  height: 100px;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  cursor: pointer;
}
.animated-mail {
  position: absolute;
  height: 150px;
  width: 100px;
  right:20px;
  top:20px;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  transition: 0.4s;
}
.animated-mail .body {
  position: absolute;
  bottom: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 0 100px 200px;
  border-color: transparent transparent hsla(288, 55%, 55%, 1) transparent;
  z-index: 1;
}
.animated-mail .top-fold {
  position: absolute;
  top: 50px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 50px 100px 0 100px;
  -webkit-transform-origin: 50% 0%;
  -webkit-transition: transform 0.4s 0.4s, z-index 0.2s 0.4s;
  -moz-transform-origin: 50% 0%;
  -moz-transition: transform 0.4s 0.4s, z-index 0.2s 0.4s;
  transform-origin: 50% 0%;
  transition: transform 0.4s 0.4s, z-index 0.2s 0.4s;
  border-color: rgb(224, 126, 248) transparent transparent transparent;
  z-index: 2;
}
.animated-mail .back-fold {
  position: absolute;
  bottom: 0;
  width: 200px;
  height: 100px;
  background: rgb(224, 126, 248);
  z-index: 1;
}
.animated-mail .left-fold {
  position: absolute;
  bottom: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 50px 0 50px 100px;
  border-color: transparent transparent transparent hsla(288, 55%, 55%, 1);
  z-index: 2;
}
.animated-mail .letter {
  left: 20px;
  bottom: 0px;
  position: absolute;
  width: 160px;
  height: 60px;
  background: white;
  z-index: 1;
  overflow: hidden;
  -webkit-transition: 0.4s 0.2s;
  -moz-transition: 0.4s 0.2s;
  transition: 0.4s 0.2s;
}
.animated-mail .letter .letter-border {
  height: 10px;
  width: 100%;
  background: repeating-linear-gradient(-45deg, rgb(224, 126, 248),rgb(224, 126, 248) 8px, transparent 8px, transparent 18px);
}
.animated-mail .letter .letter-title {
  margin-top: 10px;
  margin-left: 5px;
  height: 10px;
  width: 40%;
  background: hsla(288, 55%, 55%, 1);
}
.animated-mail .letter .letter-context {
  margin-top: 10px;
  margin-left: 5px;
  height: 80px;
  width: 90%;
  background: rgb(224, 126, 248);
}
.animated-mail .letter .letter-stamp {
  margin-top: 30px;
  margin-left: 120px;
  border-radius: 10%;
  height: 40px;
  width: 30px;
  background: rgb(224, 126, 248);
  opacity: 0.3;
}
.shadow {
  position: absolute;
  top: 210px;
  left: 98%;
  width: 300px;
  height: 30px;
  transition: 0.4s;
  transform: translateX(-50%);
  -webkit-transition: 0.4s;
  -webkit-transform: translateX(-50%);
  -moz-transition: 0.4s;
  -moz-transform: translateX(-50%);
  border-radius: 100%;
  background: radial-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.0));
}
.letter-image:hover .animated-mail {
  transform: translateY(50px);
  -webkit-transform: translateY(50px);
  -moz-transform: translateY(50px);
}
.letter-image:hover .animated-mail .top-fold {
  transition: transform 0.4s, z-index 0.2s;
  transform: rotateX(180deg);
  -webkit-transition: transform 0.4s, z-index 0.2s;
  -webkit-transform: rotateX(180deg);
  -moz-transition: transform 0.4s, z-index 0.2s;
  -moz-transform: rotateX(180deg);
  z-index: 0;
}
.letter-image:hover .animated-mail .letter {
  height: 180px;
}
.letter-image:hover .shadow {
  width: 250px;
}



/* hover-letter attempt */

#abe-letter {
  background-image: url('https://drive.google.com/uc?export=view&id=1Fv8vUokGhf24Fc2Y8ltmro-C7nqx3stp');
  height: 70px;
  width: 120px;
}

#abe-letter:hover {
  background-image: url('https://drive.google.com/uc?export=view&id=1I0ZMTPd8P-1mwGkhEA1ALVAxkiZmVsVg');
  height: 200px;
  width: 75px;
}








/* cards please work istg */

.card-pic {
  object-fit: cover;
}